body {
    overflow: hidden;
}
h1 {
    font-size: 24px;
    color: black;
    text-align: left;
    margin-top: 10px;
}

.table {
    position: relative; /* Ensure the image's position is relative */
    left: -3px; /* Initial x-coordinate */
    top: 150px; /* Initial y-coordinate */
    z-index:1;
}

.computer {
    position: relative; /* Ensure the image's position is relative */
    width: 100%; /* Adjust the size as needed */
    left: 65px; /* Initial x-coordinate */
    top: -550px; /* Initial y-coordinate */
    z-index:4;
}